<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta name="description" content="{{.Site.Params.description}}">
  <meta property="branch" content="social-sharing" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ .Title }}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{.Site.BaseURL}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/images/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ .Site.BaseURL }}/images/manifest.json">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}/images/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Facebook and Linkedin Sharing -->
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  <meta property="fb:app_id" content="{{ .Site.Params.sharing.facebook_app_id }}" />
  <!-- <meta property="fb:admins" content="{{ .Site.Params.sharing.facebook_admin }}" /> -->
  <meta property="og:description" content="{{.Site.Params.description}}">
  <meta property="og:site_name" content="{{.Site.Title}}">
  <meta property="og:image" content="{{.Site.Params.sharing.social_image}}">

  <style type="text/css">
  {{if .Site.Params.footerCover}}
    footer.page-footer{background-image: url({{.Site.Params.footerCover}});}
  {{else}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}images/default.png);}
  {{end}}
  </style>
</head>
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center teal-text text-lighten-2"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1>
        <div class="row center">
          <h5 class="header col s12 light">{{.Site.Params.description}}</h5>
        </div>
        <div class="row center">
        {{if .Site.Params.facebook}}
          <a href="https://www.facebook.com/{{.Site.Params.facebook}}"><img src="{{.Site.BaseURL}}/images/facebook-dreamstale25.png"></a>
        {{end}}
        {{if .Site.Params.twitter}}
          <a href="https://twitter.com/{{.Site.Params.twitter}}"><img src="{{.Site.BaseURL}}/images/twitter-dreamstale71.png"></a>
        {{end}}
        {{if .Site.Params.gplus}}
          <a href="https://google.com/+{{.Site.Params.gplus}}"><img src="{{.Site.BaseURL}}/images/gplus48x48.png"></a>
        {{end}}
        {{if .Site.Params.linkedin}}
          <a href="https://www.linkedin.com/in/{{.Site.Params.linkedin}}"><img src="{{.Site.BaseURL}}/images/linkedin-dreamstale45.png"></a>
        {{end}}
        {{if .Site.Params.github}}
          <a href="https://github.com/{{ .Site.Params.github }}"><img src="{{.Site.BaseURL}}/images/github2-dreamstale35.png"></a>
        {{end}}
          <a href="http://feeds.feedburner.com/SanAntonioTechDads"><img src="{{.Site.BaseURL}}/images/feed-dreamstale27.png"></a>
        </div>
      </div>
    </div>
    <div class="parallax">
    {{if .Site.Params.headerCover}}
      <img src="{{.Site.Params.headerCover}}">
    {{else}}
      <img src="{{.Site.BaseURL}}/images/default.png">
    {{end}}
    </div>
  </div>
